<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">First Name</label>
        <input type="text" class="form-control" formControlName="first_name" #first_name/>
      </div>
      <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['first_name'].dirty || angForm.controls['first_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['first_name'].errors.required">
          First Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Last Name</label>
        <input type="text" class="form-control" formControlName="last_name" #last_name />
      </div>
      <div *ngIf="angForm.controls['last_name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['last_name'].errors.required">
          Last Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" class="form-control" formControlName="email" #email />
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addPerson(first_name.value, last_name.value, email.value)"
        [disabled]="angForm.pristine || angForm.invalid" 
        class="btn btn-primary">Add Person</button>
        <button (click)="goBack()" class="btn btn-light ml-2">Cancel</button>
      </div>
    </form>
  </div>
</div>
