<a routerLink="create" class="btn btn-info mb-4 float-sm-right" routerLinkActive="active">
  Add New Row
</a>

<table class="table table-striped table-hover">
  <thead>
  <tr>
      <td>Firstname</td>
      <td>Lastname</td>
      <td>Email</td>
      <td colspan="2"></td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let person of persones">
          <td>{{ person.first_name }}</td>
          <td>{{ person.last_name }}</td>
          <td>{{ person.email }}</td>
          <td class="text-right">
            <div class="btn-group">
              <a [routerLink]="['edit', person._id]" class="btn btn-info">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a (click) = "deletePerson(person._id)" class="btn btn-info">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
          </td>
      </tr>
  </tbody>
</table>
