@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align:center;
}

h2 {
    text-align: center;
}

.nav-item {
    visibility: hidden;
}
